<div [ngClass]="props.date ? 'timeline-card bg-[#141414]' : ''" *ngIf="props">
	<ng-container *ngIf="!props.image; else card">
		<div *ngIf="props.date; else divider" class="small-card">
			<h4 class="mb-3 text-xl font-bold text-[#ffff3c]">
				{{ props.title }}
			</h4>
			<h6 class="text-yellow font-bold">
				{{ props.date }}
			</h6>
		</div>
		<ng-template #divider>
			<h3 class="text-4xl mt-4 font-Gobold text-center uppercase">
				{{ props.title }}
			</h3>
		</ng-template>
	</ng-container>
	<ng-template #card>
		<div class="timeline-content">
			<ng-container *ngIf="props.image">
				<div class="timeline-card__image">
					<img
						src="{{ props.image }}"
						class=""
						alt="{{ props.presenter }} arcképe"
					/>
				</div>
			</ng-container>
			<div class="timeline-card__content">
				<h4 class="mb-3 text-xl font-bold text-[#ffff3c]">{{ props.title }}</h4>
				<h5
					class="mb-1 text-sm uppercase"
					*ngIf="props.presenter !== undefined"
				>
					{{ props.presenter }}
				</h5>
				<div *ngIf="props.presenters !== undefined">
					<h5
						class="mb-1 text-sm uppercase"
						*ngFor="let presenter of props.presenters"
					>
						{{ presenter }}
					</h5>
				</div>
				<h6
					class="text-yellow font-bold text-[#ffff3c]"
					[ngClass]="{ 'ceter-text': !props?.image }"
				>
					{{ props.date }}
				</h6>
			</div>
			<p class="timeline-card__description">{{ props.description }}</p>
		</div>
	</ng-template>
</div>
