<div class="timeline-card">
	<div class="timeline-content">
		<div class="timeline-card__image">
			<img
				src="{{ props.image }}"
				class="bg-rose-500"
				alt="{{ props.presenter }} arcképe"
			/>
		</div>
		<div class="timeline-card__content">
			<h4 class="mb-3 text-xl font-bold text-[#ffff3c]">{{ props.title }}</h4>
			<h5 class="mb-1 text-sm uppercase">{{ props.presenter }}</h5>
			<h6 class="text-yellow font-bold text-[#ffff3c]">{{ props.date }}</h6>
		</div>
		<p class="timeline-card__description">{{ props.description }}</p>
	</div>
</div>
