.outline {
	padding: 10px 50px;
	background-color: transparent;
	color: #141414;
	border: 6px solid #141414;
	border-radius: 26px;
	font-size: 26px;
	font-family: "Gobold";
	transition: 0.3s;

	&:hover {
		background-color: #141414;
		color: white;
	}
}

.filled {
	padding: 20px 50px;
	background-color: #141414;
	color: white;
	border-radius: 26px;
	font-size: 33px;
	font-family: "Gobold";

	&:hover {
		background-color: #000000;
		transition: 0.3s;
	}
}

@media screen and (max-width: 680px) {
	.outline {
		padding: 20px 40px;
		border-radius: 26px;
		font-size: 18px;
	}

	.filled {
		padding: 20px 40px;
		border-radius: 26px;
		font-size: 20px;
	}
}
