<div class="hero-container">
	<p class="filled">simonyi</p>
	<p class="hollow">szakmai hét</p>
	<hr />
	<p class="small">szakmai est • minikonferencia • szülinap</p>
	<p class="date">NOVEMBER 08. - 12.</p>
	<app-cta-button route="/jelentkezes" text="jelentkezés"></app-cta-button>
</div>

<div class="info-background">
	<div class="info-container">
		<h3>MIRE SZÁMÍTHATSZ</h3>
		<div class="line">
			<p>
				A tavaszi félévben megrendezésre kerülő Simonyi Konferencia után a
				Simonyi Károly Szakkollégium legizgalmasabb programsorozata a Simonyi
				Szakmai Hét, melyre idén is a mérnöki szakma – főképp a villamosmérnök,
				és mérnökinformatikus területek – legizgalmasabb témáival készülünk
				nektek. Az esemény záróakkordja hagyományosan a szakkollégium
				születésnapi mulatsága.
			</p>
			<p>
				Regisztrálj a Minikonferencia inspiráló előadásaira, és kapcsolódj be a
				nyereményjátékba! Emellett pedig jelentkezz, majd bulizz velünk egy
				hatalmasat a XVIII. Simonyi Születésnapon!
			</p>
		</div>
		<h5 id="#szakmaiest"></h5>
		<h3>SZAKMAI EST – 11. 08.</h3>
		<div class="line">
			<p>
				A webfejlesztéstől a smart home-okon keresztül a médiaoktatásig:
				szakkollégistáink rengeteg különböző projekten dolgoznak, ezzel teszik
				igazán egyedülállóvá a Simonyi szakmai tevékenységét. Külön érdekesség,
				hogy nem csak mérnökök, de bölcsészek és más területek képviselői is
				hozzáadnak a közös munkához. Kíváncsi vagy, milyen projektek, gondolatok
				fogalmazódnak meg ebben az egyedi közösségben? Látogass el Szakmai
				Estünkre november 8-án 18:00-tól, és mindenről beszámolunk!
			</p>
		</div>
		<div class="center">
			<app-cta-button
				route="/hamarosan"
				text="programterv"
				[outline]="true"
			></app-cta-button>
		</div>
		<p class="link-text">
			További információkért kövesd a
			<a href="https://www.facebook.com/events/630087258158771" target="_blank">
				Facebook-eseményünket!
			</a>
		</p>
		<h5 id="#minikonf"></h5>
		<h3>MINIKONFERENCIA – 11. 09-10.</h3>
		<div class="line">
			<p>
				A mérnöki szakmát soha véget nem érő innováció és változás jellemzi,
				bármely területéről legyen szó. Izgalmas előadásokkal, az autóipar
				dilemmáit boncoló kerekasztal beszélgetéssel, az eseménysorozat végén
				pedig sörkóstolóval várunk benneteket november 09-10-ig!
			</p>
		</div>
		<div class="center">
			<app-cta-button
				route="/hamarosan"
				text="programterv"
				[outline]="true"
			></app-cta-button>
		</div>
		<p class="link-text">
			További információkért kövesd a
			<a href="https://www.facebook.com/events/630087258158771" target="_blank">
				Facebook-eseményünket!
			</a>
		</p>

		<h3>SZAKMAI EST & MINIKONFERENCIA NYEREMÉNYJÁTÉK</h3>
		<div class="line">
			<div class="giveaway">
				<div>
					<p>
						A Szakmai Esten és Minikonferencián való részvétellel izgalmas
						nyereményjátékra invitálunk titeket:
					</p>
					<p class="indented">
						November 8-10-ig minden este kisorsolunk az aznapi regisztrált,
						megjelent résztvevők között egy JBL GO 3 hordozható hangszórót.
					</p>
					<p class="indented">
						Azok, akik több napon is részt vettek, még nagyobb eséllyel
						indulnak: november 10-én egy negyedik JBL GO 3 hangszóró is gazdára
						talál a több napra is regisztráló, illetve megjelenő vendégek
						között.
					</p>
				</div>
				<div>
					<img src="/assets/jbl.png" alt="" />
				</div>
			</div>
		</div>
		<div class="center">
			<app-cta-button
				route="/jelentkezes"
				text="jelentkezés"
				[outline]="true"
			></app-cta-button>
		</div>
		<p class="link-text">
			További információkért kövesd a
			<a href="https://www.facebook.com/events/630087258158771" target="_blank">
				Facebook-eseményünket!
			</a>
		</p>

		<h5 id="#szulinap"></h5>
		<h3>SZÜLINAP – 12.</h3>
		<div class="line">
			<p>
				A Simonyi Szakmai Hét lezárásaként ünnepeljük együtt szakkollégiumunk
				18. születésnapját! Különleges feeling, meglepetés a kapunyitás után,
				Simonyi koktél és fergeteges hangulat: jelentkezz most, és bulizzunk egy
				hatalmasat november 12-én a XVIII. Simonyi Születésnapon! További
				részleteket és érdekességeket a
				<a
					href="https://www.facebook.com/events/558855011856016"
					target="_blank"
				>
					Facebook- eseményünknél
				</a>
				találsz.
			</p>
		</div>
		<div class="center">
			<app-cta-button
				route="/jelentkezes"
				text="jelentkezés"
				[outline]="true"
			></app-cta-button>
		</div>
		<p class="link-text">
			További információkért kövesd a
			<a href="https://www.facebook.com/events/630087258158771" target="_blank">
				Facebook-eseményünket!
			</a>
		</p>
	</div>
</div>

<div class="decoration_1">
	<img src="/assets/svg/black_angle_with_dots.svg" />
</div>
<div class="decoration_2">
	<img src="/assets/svg/white_angle_with_dots.svg" />
</div>
<div class="decoration_3">
	<img src="/assets/svg/circle_with_dots.svg" />
</div>
<div class="decoration_4">
	<img src="/assets/svg/white_angle.svg" />
</div>
