.hero-container {
	margin: 0;
	padding-top: 88px;
	width: 100%;
	text-align: center;
	color: #141414;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.info-background {
	background-color: #ffff3c;
}

.center {
	text-align: center;
}

.info-container {
	padding: 0px 25vw 70px 25vw;
	display: flex;
	flex-direction: column;
	justify-content: left;
}

.giveaway {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

p {
	margin: 0;
}

.filled {
	font-size: 180px;
	font-family: "Gobold";
	line-height: 160px;
}

.hollow {
	font-size: 107px;
	font-family: "Gobold-Hollow-Bold";
}

.small {
	font-size: 30px;
	font-family: "Gobold";
}

.date {
	font-size: 71px;
	font-family: "Gobold-High";
	margin: 6vh;
}

hr {
	width: 528px;
	border: 2px solid #141414;
	border-radius: 3px;
	@apply mx-auto;
}

.line {
	border-left: 8px solid #141414;
	border-radius: 8px;
	padding-left: 20px;
	margin-bottom: 30px;
}

.info-container {
	font-size: 26px;
	font-family: "Roboto";
	color: #141414;

	p {
		margin-bottom: 20px;
	}

	h3 {
		color: #141414;
		margin: 30px 0 20px 0;
		font-size: 30px;
		font-family: "Gobold";
		margin-top: 4vh;
		scroll-margin-top: 100px;
	}

	h5 {
		visibility: hidden;
		margin-bottom: 40px;
	}
}

a {
	border-bottom: 1px solid #141414;
}

.link-text {
	padding-top: 10px;
	font-size: 16px;
	text-align: center;

	img {
		height: 150px;
	}
}

.indented {
	padding-left: 20px;
	font-size: 22px;
}

.decoration_1 {
	width: 25em;
	position: fixed;
	top: 0;
	left: 0;
	margin-left: -20px;
	z-index: -100;
	overflow: hidden;
}

.decoration_2 {
	width: 23em;
	position: fixed;
	bottom: 0;
	left: 0;
	margin-left: -50px;
	margin-bottom: -320px;
	z-index: -100;
	overflow: hidden;
}

.decoration_3 {
	width: 40em;
	position: fixed;
	bottom: 0;
	right: 0;
	margin-right: -9em;
	margin-bottom: -20em;
	z-index: -100;
	overflow: hidden;
}

.decoration_4 {
	width: 22em;
	position: fixed;
	top: 0;
	right: 0;
	margin-right: -4em;
	margin-top: 10em;
	z-index: -100;
	overflow: hidden;
}

@media screen and (max-width: 1200px) {
	.filled {
		font-size: 130px;
		line-height: 120px;
	}

	.hollow {
		font-size: 76px;
	}

	hr {
		width: 360px;
		border-radius: 3px;
	}

	.small {
		font-size: 24px;
	}

	.date {
		font-size: 40px;
		margin-top: 6vh;
	}
}

@media screen and (max-width: 1024px) {
	.decoration_1 {
		width: 20em;
		margin-left: -20px;
	}

	.decoration_2 {
		width: 18em;
		margin-left: -50px;
		margin-bottom: -220px;
	}

	.decoration_3 {
		width: 30em;
		margin-right: -6em;
		margin-bottom: -14em;
	}

	.decoration_4 {
		width: 16em;
		margin-right: -4em;
		margin-top: 10em;
	}
}

@media screen and (max-width: 1200px) {
	.filled {
		font-size: 130px;
		line-height: 120px;
	}

	.hollow {
		font-size: 76px;
	}

	hr {
		width: 360px;
		border-radius: 3px;
	}

	.small {
		font-size: 24px;
	}

	.date {
		font-size: 40px;
		margin-top: 6vh;
	}
}

@media screen and (max-width: 680px) {
	.filled {
		margin-top: 120px;
		font-size: 80px;
		line-height: 70px;
	}

	.hollow {
		font-size: 48px;
	}

	hr {
		width: 240px;
		border-radius: 3px;
	}

	.small {
		font-size: 16px;
	}

	.date {
		font-size: 40px;
		margin-top: 6vh;
	}

	.decoration_1 {
		width: 10em;
		margin-top: 60px;
	}

	.decoration_2 {
		width: 10em;
		margin-left: -20px;
		margin-bottom: -120px;
	}

	.decoration_3 {
		width: 20em;
		margin-right: -6em;
		margin-bottom: -10em;
	}

	.decoration_4 {
		width: 8em;
		margin-right: -0.7em;
		margin-top: 20vh;
	}

	.info-container {
		padding: 0px 5vw 70px 5vw;
	}

	.giveaway {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}

	.info-container {
		font-size: 18px;
		font-family: "Roboto";
		color: #141414;

		p {
			margin-bottom: 20px;
		}

		h3 {
			color: #141414;
			margin: 30px 0 20px 0;
			font-size: 24px;
			font-family: "Gobold";
			margin-top: 4vh;
			scroll-margin-top: 100px;
		}

		h5 {
			visibility: hidden;
			margin-bottom: 40px;
		}

		.indented {
			font-size: 17px;
		}

		img {
			margin-top: 40px;
			width: 300px;
		}
	}
}

@media screen and (max-width: 500px) {
	.filled {
		font-size: 80px;
		line-height: 70px;
	}

	.hollow {
		font-size: 48px;
	}

	hr {
		width: 240px;
		border-radius: 3px;
	}

	.small {
		font-size: 16px;
	}

	.date {
		font-size: 40px;
		margin-top: 6vh;
	}

	.decoration_1 {
		width: 8em;
		margin-top: 60px;
	}

	.decoration_2 {
		width: 8em;
		margin-left: -20px;
		margin-bottom: -120px;
	}

	.decoration_3 {
		width: 16em;
		margin-right: -6em;
		margin-bottom: -10em;
	}

	.decoration_4 {
		width: 6em;
		margin-right: -0.7em;
		margin-top: 18vh;
	}
}
