<form
	*ngIf="isOpen"
	[formGroup]="registerForm"
	[ngClass]="{ 'modal-view': !isFormFullWidth }"
	(submit)="onSubmit()"
	class="register-form"
>
	<h2>Regisztráció</h2>
	<div formGroupName="events" class="form-group">
		<h3>Események</h3>
		<div class="checkbox">
			<input type="checkbox" id="profNight" formControlName="profNight" />
			<label for="profNight">Szakmai est - 11.08.</label>
		</div>
		<div class="checkbox">
			<input type="checkbox" id="confDayOne" formControlName="confDayOne" />
			<label for="confDayOne">Minikonferencia 1. nap - 11.09.</label>
		</div>
		<div class="checkbox">
			<input type="checkbox" id="confDayTwo" formControlName="confDayTwo" />
			<label for="confDayTwo">Minikonferencia 2. nap - 11.10.</label>
		</div>
		<div class="checkbox">
			<input type="checkbox" id="birthday" formControlName="birthday" />
			<label for="birthday">Születésnap - 11.12.</label>
		</div>

		<p [hidden]="isCheckboxValid">Kérlek helyes e-mail címet adj meg!</p>
	</div>
	<div formGroupName="data" class="form-group">
		<h3>Adatok</h3>
		<div class="form-control">
			<label for="email">
				E-mail
				<sup>*</sup>
			</label>
			<input
				id="email"
				placeholder="simonyi.karoly@pelda.hu"
				type="email"
				formControlName="email"
				required
			/>
			<p>Kérlek helyes e-mail címet adj meg!</p>
		</div>

		<div class="form-control">
			<label for="name">
				Név
				<sup>*</sup>
			</label>
			<input
				id="name"
				placeholder="Simonyi Károly"
				type="text"
				formControlName="name"
				required
			/>
			<p>Kötelező nevet megadni!</p>
		</div>
		<div class="form-control">
			<label for="birthDate">
				Születési dátum
				<sup>*</sup>
			</label>
			<input
				id="birthDate"
				placeholder="1996.12.18."
				type="text"
				formControlName="birthDate"
				required
			/>
			<p>Kérlek helyes születési dátumot adj meg!/p></p>
		</div>

		<div class="form-control">
			<label for="university">Egyetem</label>
			<input
				id="university"
				placeholder="Budapesti Műszaki és Gazdaságtudományi Egyetem"
				type="text"
				formControlName="university"
			/>
		</div>
		<div class="form-control">
			<label for="programme">Szak</label>
			<input
				id="programme"
				placeholder="Mérnökinformatikus"
				type="text"
				formControlName="programme"
			/>
		</div>
		<div class="form-control">
			<label for="year">Hanyadév</label>
			<input id="year" placeholder="3" type="number" formControlName="year" />
		</div>
		<div class="form-control">
			<label for="universityOfAdvancedStudies">Szakkollégium</label>
			<input
				id="universityOfAdvancedStudies"
				placeholder="Simonyi Károly Szakkollégium"
				type="text"
				formControlName="universityOfAdvancedStudies"
			/>
		</div>
	</div>
	<button type="submit" class="register-btn">Regisztrálok</button>
	<button type="button" class="cancel-btn" (click)="onClose()">Mégsem</button>
</form>
