<div class="container">
	<div class="parent">
		<div class="texts">
			<h1>HAMAROSAN</h1>
			<p>
				Addig is, hogy ne maradj le semmiről kövess minket a különböző közösségi
				platformainkon is!
			</p>
			<div class="row">
				<a href="https://www.facebook.com/events/630087258158771">
					<img class="button-link" src="{{ url }}/assets/facebook.svg" alt="" />
				</a>
				<a href="https://www.instagram.com/simonyiszk/">
					<img
						class="button-link"
						src="{{ url }}/assets/instagram.svg"
						alt=""
					/>
				</a>
			</div>
		</div>
		<div class="img-container">
			<img src="{{ url }}/assets/cat.png" alt="" />
		</div>
	</div>
</div>
