<div class="container">
	<div class="parent">
		<div class="texts">
			<h1>HAMAROSAN</h1>
			<p>
				Addig is, hogy ne maradj le semmiről kövess minket a különböző közösségi
				platformainkon is!
			</p>
			<div class="row">
				<a
					href="https://www.facebook.com/events/630087258158771"
					target="_blank"
				>
					<img class="button-link" src="../../../assets/facebook.svg" />
				</a>
				<a href="https://www.instagram.com/simonyiszk/" target="_blank">
					<img class="button-link" src="../../../assets/instagram.svg" />
				</a>
			</div>
		</div>
		<div class="img-container">
			<img src="../../../assets/cat.png" />
		</div>
	</div>
</div>
