header {
	@apply z-40 font-Gobold text-lg text-white sticky top-0 h-full p-4 flex flex-row justify-between;
	background-color: #141414;
	a {
		color: #f2f2f2;
		text-decoration: none;
		text-align: left;
		@apply p-1;
		width: fit-content;

		@screen lg {
			@apply text-2xl;
		}
	}
}

.logo {
	@apply text-xl;
	@screen sm {
		@apply text-lg;
	}
}

nav {
	@apply z-30 transition-all duration-300 px-4 pb-4 flex flex-col;
	@apply absolute top-[75px] left-0 right-0;
	background-color: #141414;

	@screen sm {
		@apply flex-row static pb-0;
	}

	a {
		@apply pr-16;
		@screen sm {
			@apply mr-4 pr-0;
		}

		&::after {
			content: "";
			display: block;
			height: 2px;
			background: white;
			transition: width 0.3s;
			width: 40%;
		}

		&:hover::after {
			width: 80%;
			transition: width 0.3s;
		}
	}
}

button {
	display: block;
	background: none;
	border: none;
	text-align: right;
	&:active {
		outline: none;
	}

	@screen sm {
		@apply hidden;
	}
}

.hidden {
	@apply hidden top-[-200px];
}

@media screen and (min-width: 350px) {
	.logo {
		font-size: 5px !important;
	}
}
