<header>
	<a routerLink="" class="logo">SIMONYI SZAKMAI HÉT</a>
	<button (click)="changeNav()">
		<img *ngIf="!isOpen" src="/assets/menu_white_24dp.svg" alt="" />
		<img *ngIf="isOpen" src="/assets/close_white_24dp.svg" alt="" />
	</button>
	<nav [ngClass]="{ hidden: isOpen === false }">
		<a routerLink="" (click)="onClick('#szakmaiest')">szakmai est</a>
		<a routerLink="" (click)="onClick('#minikonf')">minikonferencia</a>
		<a routerLink="" (click)="onClick('#szulinap')">szülinap</a>
		<a routerLink="/jelentkezes" (click)="scrollToTop(); isOpen = false">
			jelentkezés
		</a>
	</nav>
</header>
