<header class="lowercase">
	<a routerLink="/" class="logo uppercase">Simonyi szakmai hét</a>
	<button (click)="changeNav()">
		<img *ngIf="!isOpen" src="/assets/menu_white_24dp.svg" alt="" />
		<img *ngIf="isOpen" src="/assets/close_white_24dp.svg" alt="" />
	</button>
	<nav [ngClass]="{ hidden: isOpen === false }">
		<a routerLink="/szakmaiest" (click)="onClick()">Szakmai est</a>
		<a routerLink="/minikonferencia" (click)="onClick()">Minikonferencia</a>
		<a routerLink="/" fragment="szulinap" (click)="onClick()">Szülinap</a>
		<a routerLink="/jelentkezes" (click)="scrollToTop(); isOpen = false">
			Jelentkezés
		</a>
	</nav>
</header>
