.topnav {
    overflow: hidden;
    background-color: #141414;
    color: white;
    padding: 30px 5%;
    font-size: 24px;
    font-family: "Gobold";
}

.logo {
    font-size: 28px;
}

.line-link::after {
    content: '';
    display: block;
    height: 2px;
    background: white;
    transition: width .3s;
    width: 40%;
}

.line-link:hover::after {
    width: 80%;
    transition: width .3s;
}
  
.topnav a {
    color: #f2f2f2;
    margin: 0px 40px;
    text-decoration: none;
    text-align: center;
    float: left;
}

.topnav-right {
    float: right;
}

.container {
    margin: 0 auto;
    text-align: center;
}

button {
    display: none;
    background: none;
    border: none;
    text-align: right;
    float: right;
}

.hidden {
    display: none;
    transition: .3;
}

@media screen and (max-width: 1050px) {
    .topnav a {
        font-size: 18px;
        margin: 0px 16px;
    }
}

@media screen and (max-width: 680px) {

    .topnav {
        padding: 30px 5%;
    }

    .topnav-right {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .topnav-right a {
        margin-top: 20px;
        text-align: left;
    }
    
    button {
        display: block;
    }
}
